# SHL source
SHL_URL=https://www.shl.se/api/sports-v2/game-schedule

# SHL season configuration
SHL_SEASON_UUID=ndcf81nlb3
SHL_SERIES_UUID=qQ9-bb0bzEWUk
SHL_GAME_TYPE_UUID=qQ9-af37Ti40B

# Local application configuration
SHL_DATA_DIR=./data
SHL_TIMEZONE=Europe/Stockholm

# Sanity check when refreshing schedule
SHL_MIN_GAMES=300